[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = true

remapping = [
    "@openzeppelin/=lib/openzeppelin-contracts/"
]

[profile.default.fmt]
line_lenght = 120 

[rpc_endpoints]
arc_testent = "${ARC_TESTENET_RPC_URL}"